/*
Orange: #F05916
Dark Orange: #9B634B
Cyan: 25EFD8
Turquoise: #46B0A4
Teal: #49706C
Grey: #463D39
*/

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    /* background-image: url(../images/Open_Sky.jpg); */
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav {
    z-index: 1;
    width: 100%;
    font-size: 1.5em;
    background-color: #012031;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #463D39;
}

footer {
    width: 100%;
    background-color: #012031;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #463D39;
    color: #25EFD8;
    text-align: center;
    font-size: 18px;
    padding: 15px 0;
}

.centered {
    text-align: center;
}

.vert-align-middle {
    vertical-align: middle;
}

.no-link-decoration {
    text-decoration: none;
}

.nav-container {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.img-link {
    vertical-align: middle;
    text-decoration: none;
}

.logo {
    padding: 15px 0;
    width: 40%;
    text-align: center;
    background-color: #9B634B;
}

.logo a {
    color: black;
    text-decoration: none;
}

.breakbar {
    height: 3px;
    margin-bottom: 2px;
    background-color: #463D39;
}

.project-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 5px;
}

.img-text {
    position: absolute;
    width: 300px;
    bottom: 10%;
    color: white;
    background-color: #9B634B;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    left: 0;
}

.img-container {
    width: 300px;
    margin: 25px;
    position: relative;
}

.img-container img {
    height: 300px;
    width: 300px;
}

#main {
    width: 80%;
    color: white;
    font-size: 1.3em;
    text-shadow: 
        2px 2px 3px black,
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

#main a {
    color: white;
}

#main a:hover {
    text-shadow: 2px 2px 10px #cc5500;
}

#aboutImg {
    float: left;
    height: 250px;
    width: auto;
    margin: 5px;
    border: 5px solid black;
}

@media only screen and (max-width: 900px){
    nav {
        position: fixed;
        width:100%;
    }

    .nav-container {
        width: 100%;
        justify-content: center;
    }

    .logo {
        width: 100%;
        background-color: #012031;
    }

    #main {
        margin-top: 10%;
    }
}

@media only screen and (max-width: 600px){
    nav {
        justify-content: center;
        width:100%;
    }
    
    #aboutMe {
        padding-top: 75px;
    }
}

@media only screen and (max-width: 400px){
    html{
        background-image: none;
    }
}
